* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    font-family: Quicksand, sans-serif;
}

.left-container {
    width: 40%;
    height: 100vh;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
}

.banner {
    text-align: center;
    color: #fff;
    z-index: 100;
    height: 60%;
    top: 0;
    position: absolute;
    left: -30rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container.change .banner {
    left: 50%;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.banner span {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.blue-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #030514, #070a28, #171e40);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1), left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    color: white;
}

.container.change .blue-bg {
    width: 40%;
}

.blue-bg button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 19rem;
    height: 5rem;
    background-color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.35rem;
}

.logo {
    transition: 1.5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    top: 0;
    font-family: Conthrax;
}

.blue-bg .logo.change {
    opacity: 0;
    transition: 0.5s;
}

.logo img {
    top: 14%;
    width: 16rem;
}

.logo-name {
    font-size: 4rem;
}

.logo-ml {
    font-size: 1.5rem;
}

.right-container {
    width: 60%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
}

.form,
.results {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    width: 100%;
    height: 100%;
    left: -30rem;
    transform: translateX(-50%);
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.6s, visibility 0.6s;
}

.container.change .form,
.container.change .results {
    left: 50%;
}

.form h1 {
    font-size: 5rem;
    color: #030514;
}

.form p {
    font-size: 2rem;
    color: #555;
    margin-bottom: 4rem;
}

.form li {
    margin-bottom: 1rem;
    list-style: none;
}

.results h1 {
    font-size: 4rem;
    color: #030514;
    margin-bottom: 4rem;
}

.results p {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 1rem;
}

.fa-arrow-left,
.fa-arrow-right {
    position: absolute;
    top: 7%;
    cursor: pointer;
    font-size: 3rem;
}

.fa-arrow-left {
    left: 7%;
}

.fa-arrow-right {
    right: 7%;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.input-row {
    display: flex;
    flex-direction: row;
    width: 50rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

.input-group {
    position: relative;
}

.input-group span {
    color: #656565;
    font-size: 1.33rem;
    white-space: nowrap;
    user-select: none;
}

.input-group input,
.categorical {
    width: 24rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 3rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
}

.categorical {
    display: flex;
    align-items: center;
}

.categorical .info {
    opacity: 0.7 !important;
}

input[type="checkbox"] {
    position: absolute;
    left: 18.6rem;
    width: 4rem;
    height: 2rem;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: #030514;
    /* #0DFF92 */
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff;
    top: 0;
    left: 0;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

input[type="checkbox"]:checked::before {
    left: 2rem;
}

.dropdown {
    transition: background 0.3s;
}

.dropdown:hover {
    background: #cccccc;
    cursor: pointer;
}

.menu {
    list-style: none;
    background: #8a8a8a;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: 0.5rem 2rem;
    font-size: 1.33rem;
    color: rgb(224, 224, 224);
    border-radius: 0.5rem;
    width: 24rem;
    position: absolute;
    top: 5.3rem;
    right: 0;
    z-index: 40;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
    opacity: 0;
    user-select: none;
}

.menu li {
    margin: 0.2rem -1.5rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-weight: 500;
}

.menu li:hover {
    background: #707070;
    transition: 0.1s;
}

.menu-open {
    display: block;
    opacity: 1;
}

.caret-rotate {
    transform: translateY(-35%) rotate(180deg) !important;
}

.selected {
    color: black !important;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
}

.input-group i.info {
    left: 21rem;
    opacity: 0.3;
    font-size: 1.7rem;
}

.input-group i.info:hover+.infobox {
    display: flex;
    justify-content: center;
}

@keyframes slide {
    0% {
        top: 5%;
    }

    100% {
        top: -5%;
    }
}

.infobox {
    position: absolute;
    top: -5%;
    right: 12.5%;
    transform: translateY(-50%);
    width: 18rem;
    background-color: rgba(3, 5, 20, 0.8);
    border-radius: 0.5rem;
    animation: slide 0.5s;
    pointer-events: none;
    display: none;
}

.infobox p {
    font-size: 1.3rem;
    margin: 0;
    padding: 0.3rem;
    color: white;
}

.form button {
    width: 16rem;
    height: 5rem;
    background-color: #030514;
    border: none;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-top: 1.2rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.containerBtn {
    display: flex;
    gap: 1.25rem;
}

@media (max-width: 1920px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 1060px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 850px) {
    html {
        font-size: 62.5%;
    }

    .container.change .blue-bg {
        left: -30rem;
        width: 30rem;
    }

    .container.change .banner {
        left: -30rem;
    }

    .right-container {
        width: 100%;
    }

    .container.change .form,
    .container.change .results {
        left: 50%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 42.5%;
    }
}
